.add-new {
  width: 30%;
  text-decoration: none;
  margin-top: 20px;
  margin-right: 16px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .add-new {
    width: 46%;
    max-width: 460px;
    height: 130px;
  }
}

@media screen and (max-width: 767px) {
  .add-new {
    width: 86%;
    min-height: 95px;
    margin-bottom: 5px;
  }
}

.list-item-restaurant {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  min-height: 125px;
  margin-right: 10px;
}

.restaurant-name-container {
  display: flex;
  flex-direction: column;
}
.foodType {
  font-size: 12px;
  font-family: DM Sans;
  font-style: Bold;
  color: #64748b;
  line-height: 0;
  margin-top: 4px;
}
@media screen and (max-width: 767px) {
  .list-item-restaurant {
    width: 100%;
    min-height: 100px;
  }
  .foodType {
    font-size: 10px;
    color: #64748b;
    font-family: DM Sans;
    font-style: Bold;
    line-height: 0;
  }
}
.restaurant-image {
  height: 121px;
  min-width: 188px;
  max-width: 190px;
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 8px;
}
.food-count {
  font-size: 11px;
  color: #64748b;
  line-height: 1;
  margin-top: 5px;
}
.food-review-count {
  font-size: 8px;
  color: #64748b;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant-image {
    height: 121px;
    min-width: 210px;
    max-width: 220px;
    flex-grow: 1;
  }
}
@media screen and (max-width: 767px) {
  .restaurant-image {
    height: 100px;
    min-width: 153px;
    max-width: 155px;
  }
  .food-count {
    font-size: 11px;
    margin-top: 2px;
  }
}
.restaurant-name {
  font-family: DM Sans;
  font-style: Bold;
  font-size: 14px;
  color: #334155;
}
.food-rating {
  font-family: DM Sans;
  font-style: Bold;
  font-size: 14px;
  font-weight: 500;
  line-height: 0;
  color: #1e293b;
}
.ratingColor {
  color: #ffcc00;
  margin-right: 5px;
  height: 14px;
}
@media screen and (max-width: 767px) {
  .restaurant-name {
    font-size: 12px;
    color: #1e293b;
  }
  .food-rating {
    font-size: 11px;
  }
  .ratingColor {
    color: #ffcc00;
    margin-right: 5px;
    height: 12px;
  }
}

.star-container {
  display: flex;
  align-items: center;
}
.main-restaurant-list {
  list-style-type: none;
  width: 33%;
}
@media screen and (max-width: 767px) {
  .main-restaurant-list {
    width: 86%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-restaurant-list {
    width: 46%;
  }
}
