@media screen and (max-width: 767px) {
  .home-items-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 100%;
  }
}
.home-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .home-new {
    height: 180px;
  }
}
.not-found-image {
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.not-found-name {
  font-size: 20px;
}
.not-found-description {
  font-size: 12px;
  color: #475569;
}
.retry-button-one {
  color: #ffff;
  background-color: #f7931e;
  border: 0;
  border-radius: 5px;
  font-size: 11px;
  height: 20px;
  cursor: pointer;
}
