.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .navbar {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.image-nav-container {
  display: flex;
  align-items: center;
}
.tasty-logo {
  height: 38.86px;
  width: 48.73px;
  margin-right: 20px;
}
.home-tasty-name {
  font-family: 'DM Sans';
  font-style: Bold Italic;
  font-size: 24px;
  line-height: 32px;
  line-height: 102%;
  vertical-align: Top;
  color: #f7931e;
}
@media screen and (max-width: 767px) {
  .home-tasty-name {
    font-size: 14px;
  }
  .tasty-logo {
    height: 25px;
    width: 30px;
  }
}
.header-home {
  font-family: DM Sans;
  font-style: Bold;
  font-size: 16px;
  line-height: 26px;
  line-height: 125%;
  vertical-align: Top;
  letter-spacing: -0.36px;
}
.header-list {
  list-style-type: none;
  text-decoration: none;
  margin-right: 15px;
}
.header-ul-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-ul-container {
    display: none;
  }
}
.header-ul-container-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-ul-container-add {
    display: none;
  }
}
.header-button {
  background-color: #f7931e;
  width: 60px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
}
.one {
  color: #f7931e;
}
.two {
  color: #f7931e;
}
@media screen and (min-width: 768px) {
  .hamBurger {
    display: none;
  }
}
.header-ul-remove {
  display: none;
}
.new {
  display: none;
}
.closer {
  height: 30px;
  width: 26px;
}
.add {
  display: flex;
  align-items: center;
}
