.cart-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  list-style-type: none;
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 767px) {
  .cart-list {
    justify-content: space-between;
    margin-left: 0;
    margin-top: 20px;
  }
}
.count-of-items-in-cart {
  color: black;
}
.cart-image {
  min-width: 150px;
  max-width: 151px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.cart-name {
  font-size: 14px;
  font-family: DM Sans;
  font-style: Medium;
}
.cart-name-mobile {
  font-size: 14px;
  font-family: DM Sans;
  font-style: Medium;
  line-height: 0.9;
}
.cart-name-one {
  font-size: 14px;
  font-family: DM Sans;
  font-style: Medium;
}
.mobile-cart-merge {
  display: flex;
  align-items: center;
}
.color {
  color: #ffa412;
}
.hide-button {
  display: flex;
  align-items: center;
  height: 10px;
}
.cart-star-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .mobile-cart-view {
    display: none;
  }
  .cart-name-one {
    display: none;
  }
  .hide-button {
    display: none;
  }
  .cart-name-mobile {
    display: none;
  }
}
.cart-star-con {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .mobile-cart-merge {
    display: none;
  }
  .cart-name {
    display: none;
  }
  .remove-icon {
    display: none;
  }
}
.cart-merge {
  display: flex;
  align-items: center;
  width: 30%;
}
