.new {
  height: 240px;
  background-size: cover;
}
.carouselImage {
  height: 240px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .new {
    height: 140px;
  }
  .carouselImage {
    height: 140px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .new {
    height: 200px;
  }
  .carouselImage {
    height: 200px;
    width: 100%;
  }
}
.carousel-item {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .carousel-item {
    margin-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-item {
    margin-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}
